*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  margin: 10px 20px;
}

input {
  margin: 8px 0;
}

label {
  font-weight: 700;
}

.title {
  margin-top: 10px;
  text-align: center;
  color: brown;
  font-weight: 900;
}
h2 {
  color: blue !important;
}
